@keyframes appear-scale {
	0% {
		opacity: 0;
		transform: translateY(2rem) scale(0.95);
	}
	100% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}
@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.anima {
	&-appear-scale {
		animation: appear-scale 0.3s ease-in-out forwards;
	}
	&-appear {
		animation: appear 0.3s ease-in-out forwards;
	}
}
